<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SUPERMERCADO</a>
    <div class="input-group mb-3">
      <input class="todo" type="search" [(ngModel)]="searchText" name="filtro" placeholder="buscar en supermercado" >
      <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
      </div>
    </div>
    <ul>
      <li class="nav-item dropdown">
          <span class="badge descuento"  >{{producto.descuento}}%</span>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>  €
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action <i class="fa fa-trash" aria-hidden="true" ></i>  </a>
                   
          <div class="dropdown-divider"></div>
          <a class="dropdown-item total" href="#">Subtotal</a>
          <a class="dropdown-item" href="#">Descuentos</a>
          <a class="dropdown-item" href="#">Total</a>
        </div>
      </li>
    </ul>
  </nav>

<div class="row">
    
  <!--<div class="col-sm-4">    -->
    <div class="productos" *ngFor="let producto of stock | filterPipe:searchText">     
      <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" ></span>        
      <a (click)="seleccionar($event, producto)"><app-producto [producto]="producto"></app-producto> </a>
    </div>
  <!--</div>-->
    
</div>
</div>


