
<!--{{producto |json}}-->
<div class="thumbnail">
    <!-- directiva ngIf-->    
    <span class="badge descuento" *ngIf="producto.descuento>0" >{{producto.descuento}}%</span>
    <img src="{{producto.foto}}" alt="{{producto.nombre}}">
    <div class="caption">      
      <p>        
        <span [class]="(producto.descuento>0)?'strikethrough':'sinRebaja'">{{producto.precio}} €</span> 
        <span *ngIf="producto.descuento>0" class="rebajado">{{producto.rebajado}} €</span>
      </p>
      <p class="precioUnitario">({{producto.precioUnidad}})</p>
      <p>{{producto.marca | uppercase}} {{producto.descripcion }} </p>
      <span class="btn left " (click)="restar()"><i class="fa fa-minus"></i></span>
      <span  class="btn">{{producto.cantidad}}</span>
      <span  class="btn  right" (click)="sumar()"><i class="fa fa-plus"></i></span>      
  </div>
  
</div>
<button type="button" class="btn btn-primary btn-sm" id="añadir">AÑADIR AL CARRO</button>
