.thumbnail{
    position: relative;
    border:1px solid grey;
    padding: 10px; 
    img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 5px;
    
    }
    span.label{
        float:right;
    }
    
    .badge{
        background-color: #ED5A5A;
        border-radius: 20px;
        color:#FCFCFC;
        font-size: 1.2em;               
    }

    .rebajado{
        color: #ED5A5A;
        font-weight :bold;
    
    }
    .sinRebaja{
        font-size: 1.5em;
        font-weight :bold;
    }
    .precioUnitario{
        color: #CDCDCD;
    }
    
    .strikethrough {
        position: relative;
        font-size: 0.8em;        
    }
     
    .strikethrough:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 1px solid;        
         
        -webkit-transform:rotate(-10deg);
        -moz-transform:rotate(-10deg);
        -ms-transform:rotate(-10deg);
        -o-transform:rotate(-10deg);
        transform:rotate(-10deg);
    }
}

/*
.grupo{
    background-color:#F7F7F7; 
    border: none;
    .right{
        border-top-right-radius: 25%;
    }
    .left{
        border-top-left-radius: 25%;
    }
}*/
#añadir{
    width: 100%;
    display: block;
    background-color: #88CC88;    
}



